<hr><h2>GL SalesDashBoard-NSM</h2><hr>
<marquee><b>NSM- NationalSalesManager can see all the RegionalSalesManagers Names and their TargetsAchieved</b></marquee>
<router-outlet></router-outlet>

<table #dataTable class="display" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Region</th>
      <th>Start date</th>
      <th>Target</th>
      <th>Target Achieved</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>RomendraNath</td>
      <td>RegionalSalesManager</td>
      <td>Bangalore_South</td>
      <td>2011/04/25</td>
      <td>$320,800</td>
      <td>$120,800</td>
    </tr>
    <tr>
      <td>Anna Viktorivna Kvitka</td>
      <td>RegionalSalesManager</td>
      <td>Bangalore_South</td>
         <td>2011/07/25</td>
      <td>$170,750</td>
      <td>$120,750</td>
    </tr>
    <tr>
      <td>Olena Yuriivna Nikolaieva</td>
      <td>RegionalSalesManager</td>
      <td>Bangalore_South</td>
         <td>2009/01/12</td>
      <td>$86,000</td>
      <td>$26,000</td>
    </tr>
    <tr>
      <td>Tony Silva</td>
      <td>RegionalSalesManager</td>
      <td>India</td>
      <td>2012/03/29</td>
      <td>$433,060</td>
      <td>$133,060</td>
    </tr>
    <tr>
      <td>Yana Gennadiivna Arnautova</td>
      <td>RegionalSalesManager</td>
      <td>Kolkata_East</td>
       <td>2008/11/28</td>
      <td>$162,700</td>
      <td>$122,700</td>

    </tr>
    <tr>
      <td>Kurt Ferdinand Neubauer</td>
      <td>RegionalSalesManager</td>
      <td>Chennai_South</td>
      <td>2012/12/02</td>
      <td>$372,000</td>
      <td>$172,000</td>
    </tr>
    <tr>
      <td>Pawan Arun Ambardekar</td>
      <td>RegionalSalesManager</td>
      <td>North_Gurgaon</td>
  
      <td>2012/08/06</td>
      <td>$137,500</td>
      <td>$117,500</td>
    </tr>
    <tr>
      <td>Quinn Flynn</td>
      <td>RegionalSalesManager</td>
      <td>Bangalore_South</td>
        <td>2013/03/03</td>
      <td>$342,000</td>
      <td>$142,000</td>
    </tr>
    <tr>
      <td>Charde Marshall</td>
      <td>RegionalSalesManager</td>
      <td>Bangalore_South</td>
      <td>2008/10/16</td>
      <td>$470,600</td>
      <td>$370,600</td>
    </tr>
    <tr>
      <td>Haley Kennedy</td>
      <td>RegionalSalesManager</td>
      <td>London</td>
      <td>2012/12/18</td>
      <td>$313,500</td>
      <td>$213,500</td>
    </tr>
    <tr>
      <td>Tatyana Fitzpatrick</td>
      <td>RegionalSalesManager</td>
      <td>Kolkata_East</td>
         <td>2010/03/17</td>
      <td>$385,750</td>
      <td>$185,750</td>
    </tr>
    <tr>
      <td>Michael Silva</td>
      <td>RegionalSalesManager</td>
      <td>Bangalore_South</td>
      <td>2012/11/27</td>
      <td>$198,500</td>
      <td>$128,500</td>
    </tr>
    <tr>
      <td>Paul Byrd</td>
      <td>RegionalSalesManager</td>
      <td>North_Gurgaon</td>
      <td>2010/06/09</td>
      <td>$725,000</td>
      <td>$125,000</td>
    </tr>
    <tr>
      <td>Gloria Little</td>
      <td>RegionalSalesManager</td>
      <td>North_Gurgaon</td>
      <td>2009/04/10</td>
      <td>$237,500</td>
      <td>$137,500</td>
    </tr>
    <tr>
      <td>Bradley Greer</td>
      <td>RegionalSalesManager</td>
      <td>Bangalore_South</td>
     <td>2012/10/13</td>
      <td>$132,000</td>
      <td>$102,000</td>
    </tr>
    <tr>
      <td>Dai Rios</td>
      <td>RegionalSalesManger</td>
      <td>Chennai_South</td>
       <td>2012/09/26</td>
      <td>$217,500</td>
      <td>$117,500</td>
    </tr>
    <tr>
      <td>Jenette Caldwell</td>
      <td>RegionalSalesManager</td>
      <td>Bangalore_South</td>
      <td>2011/09/03</td>
      <td>$345,000</td>
      <td>$135,000</td>
    </tr>
    <tr>
      <td>Yuri Berry</td>
      <td>RegionalSalesManager</td>
      <td>Bangalore_South</td>
      <td>2009/06/25</td>
      <td>$675,000</td>
      <td>$645,000</td>
    </tr>
    <tr>
      <td>Caesar Vance</td>
      <td>RegionalSalesManager</td>
      <td>Kolkata_East</td>
      <td>2011/12/12</td>
      <td>$106,450</td>
      <td>$100,450</td>
    </tr>
    <tr>
      <td>Doris Wilder</td>
      <td>RegionalSalesManager</td>
      <td>Kolkata_East</td>
           <td>2010/09/20</td>
      <td>$85,600</td>
      <td>$45,600</td>
    </tr>
    <tr>
      <td>Angelica Ramos</td>
      <td>RegionalSalesManager</td>
      <td>Kolkata_East</td>
         <td>2009/10/09</td>
      <td>$1,200,000</td>
      <td>$800,000</td>
    </tr>
    <tr>
      <td>Gavin Joyce</td>
      <td>RegionalSalesManager</td>
      <td>North_Gurgaon</td>
        <td>2010/12/22</td>
      <td>$92,575</td>
      <td>$82,575</td>
    </tr>
    <tr>
      <td>Jennifer Chang</td>
      <td>RegionalSalesManager</td>
      <td>Bangalore_South</td>
      <td>2010/11/14</td>
      <td>$357,650</td>
      <td>$257,650</td>
    </tr>
    <tr>
      <td>Brenden Wagner</td>
      <td>RegionalSalesManager</td>
      <td>North_Gurgaon</td>
      <td>2011/06/07</td>
      <td>$206,850</td>
      <td>$106,850</td>
    </tr>
    <tr>
      <td>Fiona Green</td>
      <td>RegionalSalesManager</td>
      <td>North_Gurgaon</td>
     <td>2010/03/11</td>
      <td>$850,000</td>
      <td>$550,000</td>
    </tr>
    <tr>
      <td>Shou Itou</td>
      <td>RegionalSalesManager</td>
      <td>Chennai_South</td>
       <td>2011/08/14</td>
      <td>$163,000</td>
      <td>$63,000</td>
    </tr>
    <tr>
      <td>Michelle House</td>
      <td>RegionalSalesManager</td>
      <td>Chennai_south</td>
      <td>2011/06/02</td>
      <td>$95,400</td>
      <td>$45,400</td>
    </tr>
    <tr>
      <td>Viktoriia Kostiantynivna Kozlenko</td>
      <td>RegionalSalesManager</td>
      <td>North_Gurgaon</td>
       <td>2010/10/14</td>
      <td>$327,900</td>
      <td>$95,400</td>
    </tr>
    <tr>
      <td>Yuriy Yaroslavovych Mykhaylyuk</td>
      <td>RegionalSalesManager</td>
      <td>India</td>
      <td>2009/09/15</td>
      <td>$205,500</td>
      <td>$95,400</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Region</th>
      <th>Start date</th>
      <th>Target</th>
      <th>Target Achieved</th>
    </tr>
  </tfoot>
</table>


